<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBMhSXYx9ogETZ-p7e0EVnpM8oERXpoDw</string>
	<key>GCM_SENDER_ID</key>
	<string>880167780124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AnriBeridze.What--Where--When-</string>
	<key>PROJECT_ID</key>
	<string>what-where-when-game</string>
	<key>STORAGE_BUCKET</key>
	<string>what-where-when-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880167780124:ios:d3545ce44daa995ffe04d9</string>
	<key>DATABASE_URL</key>
	<string>https://what-where-when-game-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>